<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Does The partial Work?</title>
</head>

<body>
    <div class="d-flex">
        <div class="col-lg-6">
        <partial name="RegistrationFormPartial.cshtml"/>
        </div>
        <div class="col-lg-6">
        <partial name="LoginFormPartial.cshtml"/>
        </div>

    </div>
</body>

</html>